:root {
    --menu-color-primary: #40513B;
    --menu-color-secondary: #EAC696;
    --text-color-primary: black;
    --text-color-secondary: white;
    --font-size-large: calc(0.5rem + 0.75vw);
    --font-size-medium: calc(0.50rem + 0.60vw);
    --product-title: calc(1rem + 0.4vw);
    --product-price: calc(1rem + 0.4vw);
    --product-title-mobile: calc(0.9rem + 0.5vw);
    --product-price-mobile: calc(1rem + 0.25vw);
}

body {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

a {
    color: var(--text-color-primary);
    text-decoration: none;
}

/* Styling för hemsidans header */

header {
    background-color: var(--menu-color-primary);
    color: var(--text-color-secondary);
    padding: 10px;
    text-align: center;
    font-size: var(--font-size-large);
}

/* Icke-funktionell navbar som egentligen används för att leta efter produkter  */

.navbar {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: fit-content;
    margin: 40px auto;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 5px;
    border-bottom: 1px var(--text-color-primary) solid;
}

.navbar a {
    display: none;
    font-size: var(--font-size-medium);
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

.navbar form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar button {
    display: flex;
    position: absolute;
    right: 10px;
    gap: 5px;
    width: fit-content;
    border: none;
    align-items: center; justify-content: center;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
}

.cart-icon {
    width: 25px; height: 25px;
}

.hamburger-menu {
    display: flex;
    left: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
}

/* Styling för container som ska hålla produkterna. */

.container {
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    justify-content: space-between;
}

/* Styling av produkteboxarna */

.product {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: transparent;
}

.product img {
    width: 100%;
    border-radius: 10px;
/*     border: 0.5px var(--text-color-primary) solid; */
}

.product h2 {
    font-size: var(--product-title-mobile)
}

.product p {
    font-size: var(--product-price-mobile);
}

.product button {
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    color: var(--text-color-primary);;
    background-color: var(--menu-color-secondary);;
    cursor: pointer;
}

/* Anpassning för tablets  */

@media (min-width: 600px) {  
    .product {
        width: calc(50% - 20px);
    }

    .product button {
        padding: 8px 3vw;
    }

    .product h2 {
        font-size: var(--product-title)
    }
    
    .product p {
        font-size: var(--product-price)
    }

    .navbar a {
        display: flex;
    }

    .hamburger-menu {
        display: none;
    }
}

/* Anpassning för datorer */

@media (min-width: 1024px) {
    .product {
        width: calc(25% - 20px);
    }

    .product button {
        padding: 8px 2vw ;
    }

    .product h2 {
        font-size: var(--font-size-large);
    }   
    
    .product p {
        font-size: var(--font-size-medium);
    }
}