body {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/* h1{ font-size:calc(1.25rem + 1.5vw); }
h2{ font-size:calc(1rem + 2vw); }
p{ font-size:calc(1rem + 0.5vw); }
a{ font-size:calc(1rem + 1.5vw); } */

.navbar {
    display: flex; 
    align-items:center;
    width: 100%; height: 70px;
    background-color: #002349;
    color:white;
}

.navbar h1 {
    font-size:calc(1.25rem + 1vw);
    font-family: Nunito, sans-serif;
    font-weight: 100;
    margin-left: 20px;
}

.main-content { 
    width: 70%; height: fit-content;
    margin: auto;
}

.category-nav-container {
    margin-top: 20px;
    width: 100%; height: fit-content;
    display: flex;
    justify-content: center;
    align-items: end;
}

.category-nav {
    width: fit-content; height: fit-content;
    border: 2px;
    border-bottom-style: solid;
    padding: 5px;
}

.category-nav a {
    padding: 10px;
    font-family: Nunito, sans-serif;
    font-weight: 300;
    font-size:calc(1rem + 0.1vw);
}

a:hover {
    cursor: pointer;
}

.dropdown-btn {
    display: none;
    width: 30px;
    margin-left: 10px;
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    .main-content {
        width: 85%;
    }
}

@media screen and (max-width: 640px) {
    .main-content {
        width: 95%;
    }

    .category-nav-container {
        justify-content: start;
    }

    .category-nav {
        display: none;
    }

    .dropdown-btn {
        display: block;
    }

    .navbar {
        display: flex;
        text-align: center;
        justify-content: center;
    }
}
